@import url(./variables.css);
/* The front tone of the card is mainly bright/warm while the back's color is dark/cold */

.flashcard{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 400px;
    height: 500px;
    transform-style: preserve-3d;
    transition: all .35s ease;
}

.flashcard:hover{
    transform: rotateY(180deg);
}

.flashcard .front, .flashcard .back{
    width: 100%;
    height: 100%;
    border-radius: 7px;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backface-visibility: hidden;
}

.flashcard .front {
    background-color: var(--main-color-light);
}

.flashcard .back{
    background-color: var(--sub-color-middle);
    transform: rotateY(180deg);
}

.flashcard .front .container,
.flashcard .back .container {
    width: 95%;
    height: 92%;
    
    border-radius: 2px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flashcard .front .container{
    border: 3px solid var(--main-color-middle);
}

.flashcard .back .container {
    border: 3px solid var(--sub-color-dark);
}

.flashcard .front .img-container{
    margin-bottom: 1rem;
}

.front .img-container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    filter: saturate(70%);
}

.flashcard .front .word {
    color: var(--main-color-dark);
    font-size: 36pt;
}

.flashcard .back .word-type{
    font-size: 28pt;
    color: var(--sub-color-dark);
}

.flashcard .back .meaning {
    font-size: 21pt;
    color: var(--main-color-light);
    text-align: center;
    margin: 0 10px;
}