:root{
    --main-color-dark: #b3572d;
    --main-color-middle: #f6aa67;
    --main-color-light: #f8df7d;
    --sub-color-dark: #284b59;
    --sub-color-middle: #499d92;
    --sub-color-light: #6ab5a5;
}